body {
    background-size: 100%;
    background-image: url("../img/Wrinkled-Brown-Paper.jpg");
}

.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}
.navbar-brand {
    color: #0f0f0f !important;
    font-family: 'Bitter', serif;
    font-size: 40px !important;
}
p {
    color: #000aee;
}
}
.untgame {
    padding-bottom: 80px;
}
.cells {
    padding-left: 80px;
}
.result {
    font-family: 'VT323', monospace;
    font-size: 75px ;
    color: #3c763d;
}
.butactpaper {
    background: url("../img/Paper.png") no-repeat;
    height:150px;
    width: auto;
    display: block;
}
.butactpaper:active {
    background: url("../img/PaperSelect.png") no-repeat;
}
.butactscissor {
    background: url("../img/Scissors.png") no-repeat;
    height:150px;
    width: auto;
    display: block;
}
.butactscissor:active {
    background: url("../img/ScissorsSelect.png") no-repeat;
}
.butactrock {
    background: url("../img/Rock.png") no-repeat;
    height:150px;
    width: auto;
    display: block;
}
.butactrock:active {
    background: url("../img/RockSelect.png") no-repeat;
}
.resettext {
    font-size: 35px;
    font-family: 'VT323', monospace;
    animation-name: animResText;
    animation-duration: 10s;
}
@keyframes animResText {
    10%  {color: #c5ee66;}
    20%  {color: #ee595c;}
    30%  {color: #ce3a46;}
    40%  {color: #9949da;}
    50%  {color: #3c42ee;}
    60%  {color: #c5ee66;}
    70%  {color: #ee595c;}
    80%  {color: #ce3a46;}
    90%  {color: #9949da;}
    100% {color: #2881ee;}
}
a:hover {
    text-decoration: none !important;
}
a {
    text-decoration: none !important;
}
.areset {
    display: inline-block;
    padding-left:150px;
    padding-top:100px;
    padding-bottom: 100px;
}

.rockrob {

}
.scissorrob {

}
.paperrob {

}
#foot {
    height:150px;
}

.foottext {
    font-size: 50px;
    font-family: 'VT323', monospace;
    text-align: center;
    animation-name: animResText;
    animation-duration: 10s;
}

.footimg {
    height: 150px;
    width: auto;
}

#line1 {
    float: left;
    padding-left: 100px;
    padding-top: 20px;
}
#line2 {
    float: left;
    margin-left: 230px;
    padding-top: 30px;
}
#line3 {
    margin-left: 30px;
    padding-top: 0px;
}

/* #line4 {
    float: left;
    margin-left: 230px;
    padding-top: -20px;
} */